
.number-box {
	position:inherit;
	float: none;
}
.inquiry-text {
	margin: 1rem auto !important;
}
.head-bg {
	z-index: -1;
}
.head-text {
	padding-top: 25%;
}
.hide-xs {
	display: none;
}
.slider {
	> div {
		padding-top: 1rem;
	}
}
